* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, monospace;
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window > box {
  padding: 2px;
}

window#waybar {
    margin: 5px;
    padding: 5px;
}


#workspaces button {
    color: #555869;
}

#workspaces button.active {
    color: #f5c2e7;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding-left: 10px;
    padding-right: 10px;
}

#tray {
    border-radius: 10px;
    margin-left: 10px;

}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    border-radius: 10px;
    margin-right: 10px;
    color: #cba6f7;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    color: #fab387;
}

#memory {
    border-radius: 10px 0px 0px 10px;
    color: #f9e2af;
}

#window {
    border-radius: 10px;
}

#clock {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    color: #89b4fa;
}

#network {
    color:  #a6adc8;
    border-radius: 10px 0px 0px 10px;
    color: #94e2d5;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.microphone {
    color: #f5c2e7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
  color: #a6e3a1;
}
